<div class="container-fluid p-0">
  <div class="row g-0">
    <div class="col-lg-4">
      <div class="auth-content p-4 d-flex align-items-center min-vh-100">
        <div class="w-100">
          <div class="row justify-content-center">
            <div class="col-lg-9">
              <div>
                <div class="text-center">
                  <div>
                    <a routerLink="" class="logo-full"><img src="assets/images/logo-full.png" alt="logo-full" /></a>
                  </div>

                  <h4 class="font-20 mt-4">Lock screen</h4>
                  <p class="text-muted">Enter valid password to unlock the screen.</p>
                </div>
                <div class="login100-form-logo">
                  <div class="image">
                    <img src="assets/images/usrbig.jpg" alt="User" />
                  </div>
                </div>
                <span class="auth-user-name font-20 p-b-10 p-t-27"> Emily Smith </span>
                <div class="text-center">
                  <p class="txt1">Locked</p>
                </div>
                <div class="p-2 mt-5">
                  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group auth-form-group mb-4">
                      <mat-icon matSuffix class="auth-page-icon">vpn_key</mat-icon>
                      <input
                        type="password"
                        formControlName="password"
                        class="form-control auth-control"
                        id="password"
                        [ngClass]="{ 'is-invalid': submitted && controls.password.errors }"
                        placeholder="Password" />
                      <div *ngIf="submitted && controls.password.errors" class="invalid-feedback">
                        <div *ngIf="controls.password.errors.required">Password is required</div>
                      </div>
                    </div>

                    <div class="flex-sb-m w-full p-t-15 p-b-20">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="" /> Remember me
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>
                      <div>
                        <a class="txt1" routerLink="/authentication/forgot-password">Forgot Password?</a>
                      </div>
                    </div>

                    <div class="container-login100-form-btn">
                      <button mat-flat-button color="primary" class="login100-form-btn" type="submit">Login</button>
                    </div>
                  </form>
                </div>

                <div class="mt-5 text-center">
                  <p>
                    Don't have an account ?
                    <a routerLink="/authentication/signup" class="font-weight-medium text-primary"> Register </a>
                  </p>
                  <div class="login100-form-social flex-c-m">
                    <a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
                      <em class="fab fa-facebook-f"></em>
                    </a>
                    <a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
                      <em class="fab fa-twitter"></em>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="auth-bg">
        <div class="bg-overlay"></div>
      </div>
    </div>
  </div>
</div>
