<div class="container-fluid p-0">
  <div class="row g-0">
    <div class="col-lg-4">
      <div class="auth-content p-4 d-flex align-items-center min-vh-100">
        <div class="w-100">
          <div class="row justify-content-center">
            <div class="col-lg-9">
              <div>
                <div class="text-center">
                  <div>
                    <a routerLink="" class="logo-full"><img src="assets/images/logo.png" alt="logo-full" /></a>
                  </div>
                  <h4 class="font-20 mt-4">Kayıt ol</h4>
                  <p class="text-muted"></p>
                </div>
                <div class="p-2 mt-5">
                  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group auth-form-group mb-4">
                      <mat-icon matSuffix class="auth-page-icon">email</mat-icon>
                      <input
                        type="email"
                        formControlName="email"
                        class="form-control auth-control"
                        id="email"
                        placeholder="Email"
                        [ngClass]="{ 'is-invalid': submitted && controls.email.errors }" />
                      <div *ngIf="submitted && controls.email.errors" class="invalid-feedback">
                        <div *ngIf="controls.email.errors.required">Email girmeniz gerekiyor</div>
                        <div *ngIf="controls.email.errors.email">Lütfen geçerli bir Email giriniz</div>
                      </div>
                    </div>

                    <div class="form-group auth-form-group mb-4">
                      <mat-icon matSuffix class="auth-page-icon">vpn_key</mat-icon>
                      <input
                        type="password"
                        formControlName="password"
                        class="form-control auth-control"
                        id="password"
                        [ngClass]="{ 'is-invalid': submitted && controls.password.errors }"
                        placeholder="Şifre" />
                      <div *ngIf="submitted && controls.password.errors" class="invalid-feedback">
                        <div *ngIf="controls.password.errors.required">Şifre girmeniz gerekiyor</div>
                      </div>
                    </div>

                    <div class="form-group auth-form-group mb-4">
                      <mat-icon matSuffix class="auth-page-icon">vpn_key</mat-icon>
                      <input
                        type="password"
                        formControlName="passwordConfirm"
                        class="form-control auth-control"
                        id="passwordConfirm"
                        [ngClass]="{ 'is-invalid': submitted && controls.passwordConfirm.errors }"
                        placeholder="Şifrenizi Doğrulayın" />
                      <div *ngIf="submitted && controls.passwordConfirm.errors" class="invalid-feedback">
                        <div *ngIf="controls.passwordConfirm.errors.required">Şifrenizi Doğrulamanız Gerekiyor</div>
                      </div>
                    </div>

                    <div class="flex-sb-m w-full p-t-15 p-b-20">
                      <div>
                        <span>Zaten hesabınız var mı? <a routerLink="/authentication/signin"> Giriş Yap </a></span>
                      </div>
                    </div>

                    <div class="container-login100-form-btn">
                      <button mat-flat-button class="login100-form-btn" type="submit">Kayıt Ol</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="auth-bg">
        <div class="bg-overlay"></div>
      </div>
    </div>
  </div>
</div>
