<div class="container-fluid p-0">
  <div class="row g-0">
    <div class="col-lg-4">
      <div class="auth-content p-4 d-flex align-items-center min-vh-100">
        <div class="w-100">
          <div class="row justify-content-center">
            <div class="col-lg-9">
              <div>
                <div class="text-center">
                  <div>
                    <a routerLink="" class="logo-full"><img src="assets/images/logo-full.png" alt="logo-full" /></a>
                  </div>

                  <h4 class="font-20 mt-4">Şifre Sıfırlama!</h4>
                </div>

                <div class="p-2 mt-5">
                  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div *ngIf="error" class="alert alert-danger mb-3 mt-0">{{ error }}</div>
                    <div class="form-group auth-form-group mb-4">
                      <mat-icon matSuffix class="auth-page-icon">vpn_key</mat-icon>
                      <input
                        type="password"
                        formControlName="password"
                        class="form-control auth-control"
                        id="password"
                        [ngClass]="{ 'is-invalid': submitted && controls.password.errors }"
                        placeholder="Şifre" />
                      <div *ngIf="submitted && controls.password.errors" class="invalid-feedback">
                        <div *ngIf="controls.password.errors.required">Şifre girmeniz gerekiyor</div>
                      </div>
                    </div>

                    <div class="form-group auth-form-group mb-4">
                      <mat-icon matSuffix class="auth-page-icon">vpn_key</mat-icon>
                      <input
                        type="password"
                        formControlName="password_repeat"
                        class="form-control auth-control"
                        id="password_repeat"
                        [ngClass]="{ 'is-invalid': submitted && controls.password_repeat.errors }"
                        placeholder="Şifre Doğrulama" />
                      <div *ngIf="submitted && controls.password_repeat.errors" class="invalid-feedback">
                        <div *ngIf="controls.password_repeat.errors.required">Şifre girmeniz gerekiyor</div>
                      </div>
                    </div>
                    <div class="container-login100-form-btn">
                      <button mat-flat-button class="login100-form-btn" type="submit">Sıfırla</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="auth-bg">
        <div class="bg-overlay"></div>
      </div>
    </div>
  </div>
</div>
