﻿/*
 *  Document   : theme-white.scss
 *  Author     : RedStar Template
 *  Description: This scss file for white theme style classes
 */
@import '_theme-color-variables';

.theme-white {

  --chart-title: #6777ef;
  --text-slate-900: #0f172a;
  --bg-slate-900: #fff;
  --bg-slate-800: #e9ecf0;
  --bg-slate-700: #E4E9ED;

  --bg-slate-600: #F8F9FA;
  --bg-info-detail: #f7f9ff;

  --dropzone-bg: #F8F8FF;
  --dropzone-border: #BEC5E9;
  --border-500: #E3E3E3;

  &.menu_light {
    .active .menu-toggle {
      border-right: 2px solid $theme-white-active-color;
    }
  }
  .navbar {
    background-color: $theme-white;
    .collapse-menu-icon .mat-icon {
      color: #3a2c70;
    }
    .nav-notification-icons .mat-icon {
      color: #3a2c70;
    }
  }
  .navbar {
    background-color: $theme-white !important;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    .nav {
      > li {
        > a {
          color: #071b2b;
          font-weight: 600;
        }
      }
    }
  }

  .navbar-brand {
    color: $theme-white-navbar-brand;

    &:hover {
      color: $theme-white-navbar-brand_hover;
    }

    &:active {
      color: $theme-white-navbar-brand_active;
    }

    &:focus {
      color: $theme-white-navbar-brand_focus;
    }
  }

  .nav {
    > li {
      > a {
        &:hover {
          background-color: $theme-white-nav-anchor_hover;
          text-decoration: none;
        }

        &:focus {
          background-color: $theme-white-nav-anchor_focus;
          text-decoration: none;
        }
      }
    }

    .open {
      > a {
        background-color: $theme-white-nav-anchor-opened;

        &:hover {
          background-color: $theme-white-nav-anchor-opened_hover;
        }

        &:focus {
          background-color: $theme-white-nav-anchor-opened_focus;
        }
      }
    }
  }

  .bars {
    color: $theme-white-bar;
  }

  .sidebar {
    .menu {
      .list {
        li {
          &.active {
            background-color: $theme-white-menu-list-active;
          }
          a {
            -moz-transition: all 0.3s;
            -o-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            i,
            span {
              -moz-transition: all 0.3s;
              -o-transition: all 0.3s;
              -webkit-transition: all 0.3s;
              transition: all 0.3s;
            }
          }
        }

        .ml-menu {
          background-color: $theme-white-menu-list-submenu;
          .active {
            a {
              font-weight: 700;
            }
          }
          li.active a:not(.menu-toggle):before {
            content: '';
            display: block;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            position: absolute;
            background-color: #777676;
            border-color: #777676;
            left: 13%;
            top: 50%;
            transform: translate(-10px, -50%);
            opacity: 1;
            transition: all 0.2s ease;
          }
        }
      }
    }

    .legal {
      background-color: $theme-white-legal-bg;

      .copyright {
        a {
          color: $theme-white !important;
        }
      }
    }
  }

  .breadcrumb li a {
    color: $theme-white-active-color !important;
  }

  .card .header h2 strong {
    color: $theme-white-active-color !important;
  }

  .page-item.active .page-link {
    background-color: $theme-white-active-color;
    border-color: $theme-white-active-color;
    border-radius: 50%;
    margin: 5px;
    box-shadow: 0 4px 5px 0 #d4d8da, 0 1px 10px 0 #d4d8da,
      0 2px 4px -1px #d4d8da;
    padding: 0px 12px;
    min-width: 30px;
    line-height: 30px;
    color: #ffffff;
    text-transform: uppercase;
  }

  .btn-primary {
    background-color: $theme-white-active-color !important;
    color: #fff !important;
    border-color: $theme-white-active-color !important;
    &:hover {
      background-color: $theme-white-active-color !important;
      color: #fff !important;
    }
    &:active {
      background-color: $theme-white-active-color !important;
      color: #fff !important;
    }
    &:focus {
      background-color: $theme-white-active-color !important;
      color: #fff !important;
    }
    &:disabled {
      background-color: $theme-white-active-color !important;
      color: #fff !important;
    }
  }
  .btn-outline-primary {
    background: 0 0 !important;
    color: $theme-white-bar !important;
    border: 1px solid $theme-white-active-color !important;
    &:hover {
      background: $theme-white-active-color !important;
      color: #fff !important;
      border: 1px solid $theme-white !important;
    }
  }
  .timelineLabelColor strong {
    color: $theme-white-active-color !important;
  }
  .top-sidebar {
    .horizontal-menu {
      li {
        &.active {
          > a {
            color: $theme-white-active-color;
          }
        }
        a {
          -moz-transition: all 0.3s;
          -o-transition: all 0.3s;
          -webkit-transition: all 0.3s;
          transition: all 0.3s;
          &:hover {
            color: $theme-white-active-color;
          }
        }
      }
    }
  }
  .demo-choose-skin li.actived:after {
    color: #000;
  }

  .nav-tabs > li > a:before {
    border-bottom: 2px solid $theme-white-active-color;
  }
  .search-box input#search {
    color: gray;
    background: #edecec;
  }
}
/*Logo Header Background Color*/
.logo-white {
  .navbar-header {
    background-color: $theme-white;

    .logo-name {
      color: #000;
    }
  }
}
