<section class="content">
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>
              <button mat-button (click)="back()"><mat-icon>keyboard_backspace</mat-icon></button>
              <strong>{{ botConfig.name }}</strong> Diagram
            </h2>
          </div>
          <div class="body">
            <div class="diagram-container" style="width: 100%">
              <dx-diagram
                #diagram
                id="diagram"
                (onCustomCommand)="onCustomCommand($event)"
                (onRequestEditOperation)="requestEditOperationHandler($event)"
                (onRequestLayoutUpdate)="requestLayoutUpdateHandler($event)"
                (onItemDblClick)="onItemClick($event)">
                <dxi-custom-shape
                  category="bot"
                  type="root"
                  title="Başla"
                  defaultText="Başla"
                  [allowEditText]="false"
                  backgroundImageUrl="http://cdn.targetsoft.com.tr/bot/start.png"
                  [textLeft]="0"
                  [textTop]="0"
                  [textWidth]="1"
                  [textHeight]="0.2">
                  <dxi-connection-point [x]="0.5" [y]="1"></dxi-connection-point>
                </dxi-custom-shape>
                <dxi-custom-shape
                  category="answer"
                  type="choice"
                  title="Choice"
                  backgroundImageUrl="http://cdn.targetsoft.com.tr/bot/start.png"
                  defaultText="choice"
                  [textLeft]="0"
                  [textTop]="0.9"
                  [textWidth]="1"
                  [textHeight]="0.3">
                </dxi-custom-shape>
                <dxi-custom-shape
                  category="answer"
                  type="reply_keyboard"
                  title="Reply Options"
                  backgroundImageUrl="http://cdn.targetsoft.com.tr/bot/ReplyKeyboard.svg"
                  defaultText="Option"
                  [textLeft]="0"
                  [textTop]="0.9"
                  [textWidth]="1"
                  [textHeight]="0.3">
                </dxi-custom-shape>
                <dxi-custom-shape
                  category="answer"
                  type="multiple_choice"
                  title="Multiple Choice"
                  backgroundImageUrl="http://cdn.targetsoft.com.tr/bot/InlineKeyboard.svg"
                  defaultText="Option"
                  [textLeft]="0"
                  [textTop]="0.9"
                  [textWidth]="1"
                  [textHeight]="0.3"
                  [allowEditText]="true">
                </dxi-custom-shape>

                <dxi-custom-shape
                  category="answer"
                  type="custom_text"
                  title="Text"
                  backgroundImageUrl="http://cdn.targetsoft.com.tr/bot/text.png"
                  defaultText="Text"
                  [allowEditText]="false"
                  [textLeft]="0"
                  [textTop]="0.9"
                  [textWidth]="1"
                  [textHeight]="0.3">
                </dxi-custom-shape>

                <dxi-custom-shape
                  category="answer"
                  type="custom_photo"
                  title="Photo"
                  [allowEditText]="false"
                  backgroundImageUrl="http://cdn.targetsoft.com.tr/bot/photo.png"
                  defaultText="photo"
                  [textLeft]="0"
                  [textTop]="0.9"
                  [textWidth]="1"
                  [textHeight]="0.3">
                </dxi-custom-shape>

                <dxi-custom-shape
                  category="answer"
                  type="voice"
                  title="Voice"
                  [allowEditText]="false"
                  backgroundImageUrl="http://cdn.targetsoft.com.tr/bot/voice.png"
                  defaultText="voice"
                  [textLeft]="0"
                  [textTop]="0.9"
                  [textWidth]="1"
                  [textHeight]="0.3">
                </dxi-custom-shape>

                <dxi-custom-shape
                  category="answer"
                  type="location"
                  title="Location"
                  [allowEditText]="false"
                  backgroundImageUrl="http://cdn.targetsoft.com.tr/bot/location.png"
                  defaultText="location"
                  [textLeft]="0"
                  [textTop]="0.9"
                  [textWidth]="1"
                  [textHeight]="0.3">
                </dxi-custom-shape>
                <dxi-custom-shape
                  category="answer"
                  type="contact"
                  title="Contact"
                  [allowEditText]="false"
                  backgroundImageUrl="http://cdn.targetsoft.com.tr/bot/contact.png"
                  defaultText="contact"
                  [textLeft]="0"
                  [textTop]="0.9"
                  [textWidth]="1"
                  [textHeight]="0.3">
                </dxi-custom-shape>

                <dxi-custom-shape
                  category="end"
                  type="end"
                  title="End"
                  defaultText="Bitir"
                  [allowEditText]="false"
                  backgroundImageUrl="http://cdn.targetsoft.com.tr/bot/end.png"
                  [textLeft]="0"
                  [textTop]="0.9"
                  [textWidth]="1"
                  [textHeight]="0.3">
                </dxi-custom-shape>

                <dxo-toolbox>
                  <dxi-group category="answer" title="Cevap" [expanded]="true"></dxi-group>
                  <dxi-group category="end" title="Bitir" [expanded]="true"></dxi-group>
                </dxo-toolbox>

                <dxo-nodes [dataSource]="orgItemsDataSource" keyExpr="id" typeExpr="type" textExpr="node_text">
                  <dxo-auto-layout type="tree"></dxo-auto-layout>
                </dxo-nodes>

                <dxo-edges [dataSource]="flowEdgesDataSource" keyExpr="id" fromExpr="fromId" toExpr="toId"></dxo-edges>

                <dxo-view-toolbar>
                  <dxi-command name="setDetails" text="Token Gir" icon="key"></dxi-command>
                  <dxi-command [name]="isEditPage ? 'update' : 'create'" text="Gönder" icon="export"></dxi-command>
                </dxo-view-toolbar>

                <dxo-context-toolbox visible="false"></dxo-context-toolbox>
                <dxo-properties-panel visibility="disabled"></dxo-properties-panel>
              </dx-diagram>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <dx-popup
    contentTemplate="popup-content"
    [(visible)]="isConfigPanelVisible"
    [closeOnOutsideClick]="true"
    [showTitle]="true"
    title="Bot Bilgileri"
    [height]="490"
    [width]="400"
    [resizeEnabled]="true"
    [shading]="false">
    <div *dxTemplate="let data of 'popup-content'">
      <dx-scroll-view width="100%" height="100%">
        <dx-form labelLocation="left" id="form-time-add" [formData]="tempBotConfig">
          <dxi-item dataField="token">
            <dxo-label text="Token"></dxo-label>
            <dxi-validation-rule type="required" message="Token alanı boş bırakılamaz"> </dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="name">
            <dxo-label text="Bot Adı"></dxo-label>
            <dxi-validation-rule type="required" message="Bot Adı alanı boş bırakılamaz"> </dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="description" editorType="dxTextArea">
            <dxo-label text="Açıklama"></dxo-label>
            <dxi-validation-rule type="required" message="Açıklama alanı boş bırakılamaz"> </dxi-validation-rule>
          </dxi-item>
        </dx-form>
      </dx-scroll-view>
    </div>
    <dxi-toolbar-item
      widget="dxButton"
      toolbar="bottom"
      location="before"
      [options]="{
        text: 'Kaydet',
        onClick: save,
        stylingMode: 'contained',
        type: 'default'
      }">
    </dxi-toolbar-item>
    <dxi-toolbar-item
      widget="dxButton"
      toolbar="bottom"
      location="after"
      [options]="{
        text: 'Vazgeç',
        onClick: cancel,
        stylingMode: 'text',
        type: 'danger'
      }">
    </dxi-toolbar-item>
  </dx-popup>
</section>
