.diagram-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    height: 79vh;
    position: relative;
    scrollbar-width: none;
}
::ng-deep #diagram {
    height: 79vh;
    width: 80vw;
    z-index: 998;
}

::ng-deep #bot_desc{
    width: 236px;
}