/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
// @import "~@ionic/angular/css/core.css";



// // /* Basic CSS for apps built with Ionic */
// @import "~@ionic/angular/css/normalize.css";
// @import "~@ionic/angular/css/structure.css";
// @import "~@ionic/angular/css/typography.css";


// // /* Optional CSS utils that can be commented out */
// @import "~@ionic/angular/css/padding.css";
// @import "~@ionic/angular/css/float-elements.css";
// @import "~@ionic/angular/css/text-alignment.css";
// @import "~@ionic/angular/css/text-transformation.css";
// @import "~@ionic/angular/css/flex-utils.css";

@import '~devextreme/dist/css/dx.common.css';
@import '~devextreme/dist/css/dx.material.blue.light.css';
//   // calendar
  @import "../node_modules/angular-calendar/css/angular-calendar.css";
  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap');

  small{
     font-size: .875em!important;
  }
 
 .send-mail-modal .modal-wrapper{
    border-radius: 20px 20px 0 0;
 }
 
  @media screen and (min-width: 650px){
    .add-event-modal .modal-wrapper {
       border-radius: 20px;
       height: 75%;
       width: 40%;
   }
 
   .edit-event-modal .modal-wrapper {
      border-radius: 20px;
      height: 75%;
      width: 40%;
    }
 
    .send-mail-modal .modal-wrapper{
       border-radius: 20px;
       height: 20%;
       width: 40%;
       min-width: 450px;
       min-height: 270px;
       max-height: 300px;
    }
 }
 
  .add-event-modal-page{
    font-family: 'Mulish', sans-serif;
    --background: 
    url("data:image/svg+xml,%3Csvg viewBox='0 0 500 500' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100%25' id='blobSvg'%3E%3Cdefs%3E%3ClinearGradient id='gradient' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' style='stop-color: rgba(194, 229, 156);'%3E%3C/stop%3E%3Cstop offset='100%25' style='stop-color: rgb(100, 179, 244);'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath id='blob' d='M406.5,332.5Q381,415,298,410Q215,405,122,381Q29,357,58,264.5Q87,172,148.5,123Q210,74,298.5,76Q387,78,409.5,164Q432,250,406.5,332.5Z' opacity='0.4' fill='url(%23gradient)'%3E%3C/path%3E%3C/svg%3E") no-repeat center center, url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%230099ff' fill-opacity='0.4' d='M0,256L40,261.3C80,267,160,277,240,266.7C320,256,400,224,480,197.3C560,171,640,149,720,165.3C800,181,880,235,960,250.7C1040,267,1120,245,1200,224C1280,203,1360,181,1400,170.7L1440,160L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z'%3E%3C/path%3E%3C/svg%3E") no-repeat center 101% !important;
       
    ion-item{
       --ion-item-background: transparent;
    }
 
    .ion-g-1{
       background: #00B4DB;  /* fallback for old browsers */
       background: -webkit-linear-gradient(right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
       background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
       box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
   }
 
    ion-grid{
       .btn{
          position: absolute;
          width: 100%;
          bottom: 0px;
          // right: 0px;
          margin-top: auto;
          margin-bottom: 22px;
          align-items: center;
          justify-content: center;
       
             ion-button{
                font-size: 20px;
                font-weight: 600;
                --background: #6778E1 !important;
                --border-radius: 16px !important;
                --box-shadow: none !important;
                height: 54px;
                margin-right: 12px; 
                // margin-left: 40px;
                // box-shadow: 0 11px 30px -15px #6778E1;
                transition: 300ms transform;
                &:hover{
                   transform: scale(1.03);
                   --background: darken()#6778E1, 20%;
                }
             }
       }
      }
 
 
  }
 
  .edit-event-modal-page{
    font-family: 'Mulish', sans-serif;
    --background: 
    url("data:image/svg+xml,%3Csvg viewBox='0 0 550 550' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100%25' id='blobSvg'%3E%3Cdefs%3E%3ClinearGradient id='gradient' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' style='stop-color: rgb(255, 195, 113);'%3E%3C/stop%3E%3Cstop offset='100%25' style='stop-color: rgb(255, 95, 109);'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath id='blob' d='M402.5,355Q371,460,263,437Q155,414,96.5,332Q38,250,103,179.5Q168,109,268,77.5Q368,46,401,148Q434,250,402.5,355Z' opacity='0.3' fill='url(%23gradient)'%3E%3C/path%3E%3C/svg%3E") no-repeat center center, url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23f09819' fill-opacity='0.3' d='M0,224L48,234.7C96,245,192,267,288,256C384,245,480,203,576,197.3C672,192,768,224,864,234.7C960,245,1056,235,1152,245.3C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z'%3E%3C/path%3E%3C/svg%3E") no-repeat center 101% !important;
    // --background-size: 300px !important;
    ion-item{
       --ion-item-background: transparent;
    }
 
    .ion-g-1{
       background: #FF512F;  /* fallback for old browsers */
       background: -webkit-linear-gradient(right, #F09819, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
       background: linear-gradient(to right, #F09819, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
       box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
   }

    ion-grid{
       .btn{
          position: absolute;
          width: 100%;
          bottom: 0px;
          // right: 0px;
          margin-top: auto;
          margin-bottom: 22px;
          align-items: center;
          justify-content: center;
       
          ion-button{
                font-size: 20px;
                font-weight: 600;
                --background: #f0910dec !important;
                --border-radius: 16px !important;
                --box-shadow: none !important;
                height: 54px;
                margin-right: 12px;
                transition: 300ms transform;
                &:hover{
                   transform: scale(1.03);
                   --background: darken()#f0910dec, 20%;
                }
          }
       }
    }
 
 }
 
 .event-click-modal-page{
    font-family: 'Mulish', sans-serif;
    --background: 
    url("data:image/svg+xml,%3Csvg viewBox='0 0 500 500' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100%25' id='blobSvg'%3E%3Cdefs%3E%3ClinearGradient id='gradient' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' style='stop-color: rgb(169, 201, 255);'%3E%3C/stop%3E%3Cstop offset='100%25' style='stop-color: rgb(255, 187, 236);'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath id='blob' d='M406,333Q346,416,240.5,432.5Q135,449,73.5,349.5Q12,250,87.5,174.5Q163,99,268.5,67Q374,35,420,142.5Q466,250,406,333Z' opacity='0.3' fill='url(%23gradient)'%3E%3C/path%3E%3C/svg%3E") no-repeat center center, url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23A9C9FF' fill-opacity='0.3' d='M0,96L60,128C120,160,240,224,360,224C480,224,600,160,720,154.7C840,149,960,203,1080,213.3C1200,224,1320,192,1380,176L1440,160L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z'%3E%3C/path%3E%3C/svg%3E") no-repeat center 101% !important;
    --background-color: #e7e7e7e5 ;
    ion-item{
       --ion-item-background: transparent;
    }
 
    .ion-g-1{
       background: #A9C9FF;  /* fallback for old browsers */
       background: -webkit-linear-gradient(right, #A9C9FF, #FFBBEC);  /* Chrome 10-25, Safari 5.1-6 */
       background: linear-gradient(to right, #A9C9FF, #FFBBEC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
       box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
   }
 
    .details > *{
       font-size: 18px!important;
       color: #444444!important;
    }
 
    .details > ion-item{
       margin-bottom: 10px;
    }
    
 }
 
 
 .cal-month-view .cal-open-day-events{
    background-color: #444444 !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px !important;
 }
 
 span.material-icons.mx-1.edit-icon{
    color: #ffa570;
 }
 
 span.material-icons.delete-icon{
    color: #ff6e6e;
 }
 
 
 .calendar-icons{
    background-color: white;
    height: 44px;
    width: 44px;
    border-radius: 22px;
    margin-right: 5px;
 }
 
 .calendar-icons:hover{
    background-color: rgb(197, 197, 197);
 }
 
 .send-mail-modal-page{
    font-family: 'Mulish', sans-serif;
    --background-color: #e7e7e7e5 ;
    ion-item{
       --ion-item-background: transparent;
    }
 
    .ion-g-1{
       background: #667eea;  /* fallback for old browsers */
       background: -webkit-linear-gradient(right, #667eea, #764ba2);  /* Chrome 10-25, Safari 5.1-6 */
       background: linear-gradient(to right, #667eea, #764ba2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
       box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }
 
    ion-grid{
       .btn{
          // position: absolute;
          width: 100%;
          // bottom: 0px;
          // right: 0px;
          margin-top: 20px;
          align-items: center;
          justify-content: center;
       
             ion-button{
                font-size: 20px;
                font-weight: 600;
                --background: #667eea !important;
                --border-radius: 16px !important;
                --box-shadow: none !important;
                height: 44px;
                // margin-left: 40px;
                // box-shadow: 0 11px 30px -15px #6778E1;
                transition: 300ms transform;
                &:hover{
                   transform: scale(1.03);
                   --background: darken()#6778E1, 20%;
                }
             }
       }
      }
 }
   



