<section class="content">
  <div class="card instructions">
    <div class="header">
      <h2 class="header-title"></h2>
    </div>

    <div class="ui-header mr-12">
      <div class="title fw-700 font-36 text-slate-900">{{ 'BOT.HOME.TITLE' | translate }}</div>
      <div class="search-bar">
        <form [formGroup]="form">
          <mat-form-field appearance="standard">
            <mat-icon matPrefix>search</mat-icon>
            <input id="filter" matInput formControlName="bot" (keyup)="applyFilter($event)" />
          </mat-form-field>
        </form>
      </div>
      <div class="add-button" (click)="openAddBotModal()">
        <mat-icon class="text-slate-100">add</mat-icon>
        <div class="fw-500 font-16 text-slate-100">{{ 'BOT.HOME.ADD' | translate }}</div>
      </div>
    </div>

    <div class="ui-datagrid table-responsive" [perfectScrollbar]>
      <table mat-table [dataSource]="dataSource">
        <caption></caption>
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="font-inter fw-600 text-slate-500 font-16">
            {{ 'BOT.HOME.TABLE.NAME' | translate }}
          </th>
          <td mat-cell *matCellDef="let element" class="font-inter fw-500 text-slate-500">
            <span [ngStyle]="{ color: element.status ? '#64ff6a' : '#FF6D64' }">&#11044;</span>
            {{ element.name }}
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef class="font-inter fw-600 text-slate-500 font-16">
            {{ 'BOT.HOME.TABLE.DESCRIPTION' | translate }}
          </th>
          <td mat-cell *matCellDef="let element" class="font-inter fw-500 text-slate-500">{{ element.description }}</td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef class="font-inter fw-600 text-slate-500 font-16">
            {{ 'BOT.HOME.TABLE.CREATEDDATE' | translate }}
          </th>
          <td mat-cell *matCellDef="let element" class="font-inter fw-500 text-slate-500">
            {{ element.createdAt | date: 'd MMM yy hh:mm':null:('LANGUAGE' | translate) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="updatedAt">
          <th mat-header-cell *matHeaderCellDef class="font-inter fw-600 text-slate-500 font-16">
            {{ 'BOT.HOME.TABLE.UPDATEDDATE' | translate }}
          </th>
          <td mat-cell *matCellDef="let element" class="font-inter fw-500 text-slate-500">
            {{ element.updatedAt | date: 'd MMM yy hh:mm':null:('LANGUAGE' | translate) }}
          </td>
        </ng-container>

        <!-- Action Column-->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>{{ 'BOT.HOME.TABLE.ACTIONS' | translate }}</th>
          <td mat-cell *matCellDef="let row" class="action-cell">
            <div class="action-wrapper" style="display: flex">
              <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item class="action-button buttons" (click)="openEditBotModal(row.token)">
                  <mat-icon class="text-amber-600"> edit </mat-icon>
                  <span> Düzenle </span>
                </button>
                <button mat-menu-item class="action-button buttons" (click)="deleteBot(row)">
                  <mat-icon class="text-red-600"> delete_forever </mat-icon>
                  <span> Sil </span>
                </button>
                <button mat-menu-item class="action-button buttons" (click)="openChatView(row.token)">
                  <mat-icon class="text-lime-600"> chat </mat-icon>
                  <span> Konuşmalar </span>
                </button>

                <button mat-menu-item class="action-button buttons" (click)="startBot(row._id)">
                  <mat-icon class="text-lime-600"> start </mat-icon>
                  <span> Başlat </span>
                </button>

                <button mat-menu-item class="action-button buttons" (click)="stopBot(row._id)">
                  <mat-icon class="text-lime-600"> stop </mat-icon>
                  <span> Durdur </span>
                </button>
              </mat-menu>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</section>
