@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

.font-inter{
    font-family:'Inter',ui-sans-serif,system-ui,-apple-system,sans-serif,'Roboto'!important;
}
.card{
    height: 89vh;
}


.search-bar{
    width: 210px;
    margin-left: auto;
    margin-right: 36px;
}

.ui-header{
    display: flex;
    align-items: center;
    margin: 0 48px;
}

.add-button{
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 8px 16px;
    background-color: #1D4ED8;
    border-radius: 4px;
    width: 148px;
    height: 40px;

    div{
        padding-left: 10px;
    }
}

.instructions{
    ::ng-deep .mat-input-element{
        font-family:'Inter',ui-sans-serif,system-ui,-apple-system,sans-serif,'Roboto'!important;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        caret-color: #000!important;
    }

    ::ng-deep .mat-header-cell{
        border-bottom-width: 2px;
        border-bottom-color: #64746D;
    }

    ::ng-deep .mat-row{
        height: 64px;
    }

}

.ui-datagrid{
    width: 90%;
    padding: 0 10px;
    margin: 18px auto;
    position: relative;
    height: 72vh;

    table{
        width: 100%;
    }
}


.action-cell{
    width: 180px;
}

.text-amber-600{
    color: #d97706;
}

.text-red-600{
    color: #dc2626;
}
.text-lime-600{
    color: #65a30d;
}
.font-16{
    font-size: 16px!important;
}

.action-button{
    padding: 0.5rem;
}
.buttons{
    height: 4rem;
    width: 11rem;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    margin: 0 1rem 0 1rem;
}

