<div class="tab-header">
  <div class="title">
    <div class="icon">
      <span class="material-icons-outlined"> add </span>
    </div>
    <div class="text">Keyboard</div>
  </div>
  <div (click)="close()" class="close">
    <span class="material-icons-outlined"> close </span>
  </div>
</div>
<div class="tab-content">
  <div class="info">
    <mat-icon class="info-icon">info</mat-icon>
    <div class="info-text">Bu bot mesajından sonra kullanıcıdan {{ answerType }} türünde bir mesaj beklenecek</div>
    <br />
  </div>
  <form [formGroup]="replyKeyboardForm">
    <mat-form-field appearance="outline" style="width: 100%; margin-top: 0.5rem">
      <mat-label>İsim</mat-label>
      <input matInput type="text" formControlName="name" />
      <mat-error *ngFor="let error of errorMessages.name">
        <mat-error
          *ngIf="
            replyKeyboardForm.get('name').hasError(error.type) &&
            (replyKeyboardForm.get('name').dirty || replyKeyboardForm.get('name').touched)
          ">
          <small class="error-message">{{ error.message }}</small>
        </mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%; margin-top: 0.5rem">
      <mat-label>Mesaj</mat-label>
      <textarea matInput type="text" formControlName="message"></textarea>
      <mat-error *ngFor="let error of errorMessages.message">
        <mat-error
          *ngIf="
            replyKeyboardForm.get('message').hasError(error.type) &&
            (replyKeyboardForm.get('message').dirty || replyKeyboardForm.get('message').touched)
          ">
          <small class="error-message">{{ error.message }}</small>
        </mat-error>
      </mat-error>
    </mat-form-field>
    <mat-label>Seçenekler</mat-label>
    <mat-form-field
      *ngFor="let option of node.keyboard; let i = index"
      appearance="outline"
      style="width: 100%; margin-top: 0.5rem">
      <input matInput type="text" formControlName="option{{ i }}" />
    </mat-form-field>

    <button mat-button color="primary" (click)="addOption('', node.keyboard.length)">
      Seçenek Ekle<mat-icon>add_box</mat-icon>
    </button>
  </form>
</div>

<div class="tab-footer">
  <button mat-button color="warn" (click)="close()">İptal</button>
  <button mat-flat-button [disabled]="!replyKeyboardForm.valid" (click)="save()">Onayla</button>
</div>
