@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&display=swap');

::ng-deep .mat-dialog-container{
    padding: 0px;
    border-radius: 18px;
    position: relative;

    font-family: 'Mulish', 'Roboto', sans-serif;

}

.tab-header{
    height: 3.75rem;
    width: 100%;
    position: absolute;
    top: 0;

    background-color: #D9EDFF;
    color: #004584;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    .title{
        width: 50%;
        padding-left: .7rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        font-size: 18px;

        .icon,
        .text{
            display: flex;
            align-items: center;
            justify-content: center;
            pointer-events: none;
        }

        .text{
            margin-left: 1.25rem;
            // font-weight: 500;
        }
    }

    .close{
        width: 50%;
        padding-right: .7rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;
    }
}

.tab-content{
    height: calc(100% - 8.12rem);
    margin: 4rem 0;
    padding: 0 1.25rem;
    overflow: auto;

    .col-span-2{
        width: 100%;
        margin-top: .7rem;
        display: flex;
        justify-content: space-between;
    }

    .tab-panel{
        position: relative;
        .tab-label{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 42px;
            position: absolute;
            top: 0;
            margin-left: 10px;
            margin-top: -6px;
            font-size: 9px;
            background-color: #fff;
            color: #8d8d8d;
        }
    }

    .item-tab{

        width: 100%;
        border: 1px solid #ececec;
        border-radius: 6px;
        padding: 6px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

        .item{
            margin: .35rem 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 4px;
            background-color: #F7F8FC;
            border-radius: 4px;

            .icon,
            .delete{
                width: 10%;
                display: flex;
                align-items: center;
                justify-content: center;

                span{
                    font-size: 20px;
                }
            }

            .delete{
                cursor: pointer;
                span{
                    color: #B3261E;
                }
            }

            .icon{
                span{
                    color: #004584;
                }
            }

            .text{
                font-size: 16px;
                color: #26344A;
                width: 70%;
            }
        }
    }

    ::ng-deep .mat-flat-button{
        font-size: 13px;
        height: 2.85rem;
        // width: 7rem;
        margin: .7rem;
        border-radius: 45px;
        background-color: #2B9AFF;
        color: #fff;
    }
}

.tab-footer{
    position: absolute;
    height: 3.75rem;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    ::ng-deep .mat-flat-button,
    ::ng-deep .mat-button{
        height: 2.85rem;
        width: 8.75rem;
        margin-right: 1.25rem;
        margin-bottom: 0.7rem;
    }

    ::ng-deep .mat-flat-button{
        color: #fff;
        background-color: #004584;
    }
    ::ng-deep .mat-flat-button:disabled{
        background-color: #fafafa;
        color: #00000042;
    }
}
::ng-deep .mat-menu-panel{
    max-height: 260px!important;
}
.info-text{
    padding-left: 6px;
}
.info{
    background-color:rgba(255, 199, 0, 0.24);
    height: 36px;
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border-radius: 6px;
    color: #1b1f3b;
}
.info-icon{
    color: #ffc700;
}