<section class="content">
  <div class="container-fluid h-calc">
    <div class="row h-100">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="card h-100">
          <div class="body">
            <div id="plist" class="people-list">
              <div class="form-line m-b-15">
                <input type="text" class="form-control" placeholder="Search..." />
              </div>
              <div class="tab-content">
                <div id="chat_user h-100" style="position: relative; max-height: 60rem" [perfectScrollbar]>
                  <ul class="chat-list list-unstyled m-b-0">
                    <li class="clearfix" (click)="selectUser(user)" *ngFor="let user of userList">
                      <img *ngIf="user.photos.length > 0; else defaultUserPhoto" [src]="user.photos[0]" alt="avatar" />
                      <ng-template #defaultUserPhoto><img src="assets/images/user.png" alt="User Photo" /></ng-template>
                      <div class="about">
                        <div class="name">{{ user.first_name }} {{ user.last_name }}</div>
                        <div class="status">
                          <em class="material-icons offline">fiber_manual_record</em>
                          {{ user.last_date | date: 'short' }}
                        </div>
                      </div>
                    </li>
                    <div style="text-align: center; margin-top: 0.5rem">
                      Toplam {{ userList.length }} kullanıcı bulundu
                    </div>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div class="card h-100">
          <div class="chat">
            <div class="chat-header clearfix">
              <img
                *ngIf="selectedUser.photos.length > 0; else defaultUserProfilePhoto"
                [src]="selectedUser.photos[0]"
                alt="avatar" />
              <ng-template #defaultUserProfilePhoto><img src="assets/images/user.png" alt="User Photo" /></ng-template>
              <div class="chat-about">
                <div class="chat-with">{{ selectedUser.first_name }} {{ selectedUser.last_name }}</div>
                <div class="chat-num-messages">{{ selectedUser.username }}</div>
              </div>
            </div>
            <div
              class="chat-history height-67"
              id="chat-conversation"
              style="position: relative; max-height: 83rem"
              [perfectScrollbar]>
              <ul *ngFor="let message of conversation">
                <li class="clearfix">
                  <div class="message-data text-end">
                    <span class="message-data-time">{{ message.question.date_time | date: 'd MMM yy hh:mm' }}</span>
                    &nbsp; &nbsp;
                    <span class="message-data-name">Bot</span>
                  </div>
                  <div class="message other-message float-end">{{ message.question.text }}</div>
                </li>
                <li *ngIf="isEndConversation(message)">
                  <div class="message-data">
                    <span class="message-data-name">{{ selectedUser.username }} </span>
                    <span class="message-data-time">{{ message.answer.date_time | date: 'd MMM yy hh:mm' }}</span>
                  </div>
                  <div class="message my-message">
                    <p *ngIf="message.answer.text">{{ message.answer.text }}</p>
                    <img
                      *ngIf="message.answer.photo"
                      [src]="message.answer.photo[1].file_link"
                      [alt]="message.answer.photo[1].file_link" />
                    <audio *ngIf="message.answer.voice" controls>
                      <source [src]="message.answer.voice.file_link" type="audio/ogg" />
                      Your browser does not support the audio element.
                    </audio>
                    <div *ngIf="message.answer.contact">
                      <div class="row">
                        <p>{{ message.answer.contact.first_name }} {{ message.answer.contact.last_name }}</p>
                        <p>{{ message.answer.contact.phone_number }}</p>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
