.height-67{
    height: 61rem;
}
.h-calc{
    height: calc(100vh - 100px);
}

ng-scrollbar {
    --scrollbar-size: 8px;
    --scrollbar-thumb-color: rgba(94, 175, 255, 0.5);
    --scrollbar-thumb-hover-color: dodgerblue;
    --scrollbar-border-radius: 4px;
    border: 1px solid gray;
  }