<nav #navbar class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a
        href="#"
        onClick="return false;"
        class="navbar-toggle collapsed"
        (click)="isNavbarCollapsed = !isNavbarCollapsed"
        aria-expanded="false"></a>
      <a href="#" onClick="return false;" class="bars" (click)="mobileMenuSidebarOpen($event, 'overlay-open')"></a>
      <a class="navbar-brand" routerLink="dashboard/main">
        <img src="assets/images/logo.png" width="52" height="35" alt="" />
        <span class="logo-name">Target</span>
      </a>
    </div>
    <div class="collapse navbar-collapse" [ngbCollapse]="isNavbarCollapsed">
      <ul class="float-start collapse-menu-icon">
        <li>
          <button mat-icon-button (click)="callSidemenuCollapse()" class="sidemenu-collapse">
            <em class="nav-hdr-btn ti-align-left"></em>
          </button>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item" ngbDropdown>
          <a ngbDropdownToggle class="lang-dropdown">
            <img *ngIf="flagvalue !== undefined" alt="{{ flagvalue }}" src="{{ flagvalue }}" height="16" />
            <img *ngIf="flagvalue === undefined" alt="{{ defaultFlag }}" src="{{ defaultFlag }}" height="16" />
          </a>
          <div ngbDropdownMenu class="dropdown-menu lang-item dropdown-menu-right pullDown">
            <a
              href="javascript:void(0);"
              class="dropdown-item lang-item-list"
              *ngFor="let item of listLang"
              (click)="setLanguage(item.text, item.lang, item.flag)"
              [ngClass]="{ active: langStoreValue === item.lang }">
              <img alt="{{ item.flag }}" src="{{ item.flag }}" class="flag-img" height="12" />
              <span class="align-middle">{{ item.text }}</span>
            </a>
          </div>
        </li>
        <li class="nav-item user_profile" ngbDropdown>
          <a href="#" onClick="return false;" ngbDropdownToggle role="button" class="nav-notification-icons pt-0">
            <img src="assets/images/user.png" class="rounded-circle" width="20" height="20" alt="User" />
          </a>
          <div ngbDropdownMenu class="notification-dropdown pullDown">
            <div class="noti-list" style="position: relative; max-width: 600px; max-height: 300px" [perfectScrollbar]>
              <ul class="menu">
                <li class="body">
                  <ul class="user_dw_menu">
                    <li>
                      <a href="javascript:void(0);" (click)="logout()">
                        <mat-icon aria-hidden="false" class="msr-2">power_settings_new</mat-icon>Logout
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <!-- #END# Tasks -->
        <li class="float-end">
          <button mat-icon-button (click)="toggleRightSidebar()" class="nav-notification-icons">
            <em class="nav-hdr-btn ti-layout-grid2" id="settingBtn"></em>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
>
