<div class="ms-card">
  <div class="ms-pb" [ngStyle]="{ 'background-image': 'url(' + photo + ')' }"></div>
  <div class="ms-info">
    <div class="ms-name font-20 fw-500 text-slate-900">{{ cardName }}</div>
    <div class="ms-title font-14 fw-500 purple-x">{{ description }}</div>
  </div>
  <div class="ms-detail">
    <div class="ms-col">
      <div class="ms-team font-14 fw-400 text-slate-500">{{ title }}</div>
    </div>
    <div class="ms-col">
      <div class="ms-mail font-14 fw-400 text-slate-400">{{ comminication_info }}</div>
    </div>
    <div class="ms-col">
      <div class="ms-tel font-14 fw-400 text-slate-400">{{ comminication_info2 }}</div>
    </div>
  </div>
  <div *ngIf="footer" class="ms-buttons">
    <div class="msp-title font-16 fw-500 text-slate-900">{{ footer }}</div>
    <div *ngFor="let footerdata of footer_data" class="ms-project-name font-14 fw-400 text-slate-400">
      {{ footerdata }}
    </div>
  </div>
</div>
