@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

.ms-card {
    font-family: 'Inter', ui-sans-serif, system-ui, -apple-system, sans-serif, 'Roboto' !important;
    position: relative;
    background-color: var(--user-card-bg-color);
    width: 300px;
    /* height: 170px; */
    max-height: 170px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
    border-radius: 15px;
    transition: all 0.5s ease-in-out;

    flex: 0 0 300px;
    margin: 54px 20px 68px 20px;
}

.ms-card:hover {
    display: flex;
    flex-direction: column;
    /* height: auto; */
    max-height: 600px;
    /* min-height: 340px; */
}

.ms-pb {
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translate(-50%, 0%);
    background-image: url('https://picsum.photos/seed/picsum/200/300');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    border-radius: 15px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
    transition: all 0.5s ease-in-out;
}

.ms-card:hover .ms-pb {
    height: 160px;
    width: 160px;
}

.ms-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 80px 0px 10px 0px;
    transition: all 0.5s ease-in-out;
}

.ms-card:hover .ms-info {
    display: flex;
    flex-direction: column;
    padding: 160px 0px 0px 0px;
}

.ms-detail {
    position: relative;
    display: flex;
    opacity: 0;
    z-index: -10;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    transform: translateX(-20px);
    transition-timing-function: linear;
    transition-duration: 0s, 0.2s, 0.2s;
    transition-property: z-index, opacity, transform;
    transition-delay: 0.2s, 0s, 0s;
}

.ms-col {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
    align-items: center;
}

.ms-buttons {
    position: relative;
    display: flex;
    opacity: 0;
    z-index: -10;
    padding: 0px 14px;
    margin-bottom: 12px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    transform: translateX(20px);
    transition-timing-function: linear;
    transition-duration: 0s, 0.2s, 0.2s;
    transition-property: z-index, opacity, transform;
    transition-delay: 0.2s, 0s, 0s;
}

button {
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
}

#ms-follow {
    background-color: #ff5f96;
    border: 1px solid #ff5f96;
    color: #fff;
    font-weight: 500;
    transition: all 0.3s linear;
}

#ms-follow:hover {
    background-color: #fa377b;
}

#ms-message {
    background-color: transparent;
    border: 1px solid grey;
    color: grey;
    font-weight: 500;
    transition: all 0.3s linear;
}

#ms-message:hover {
    background-color: darkgrey;
    color: #fff;
}

.ms-card:hover .ms-detail,
.ms-card:hover .ms-buttons {
    opacity: 1;
    z-index: 0;
    transform: translateX(0px);
    transition-timing-function: linear;
    transition-duration: 0s, 0.3s, 0.3s;
    transition-property: z-index, opacity, transform;
    transition-delay: 0s, 0.2s, 0.2s;
}

.ms-name{
    margin-bottom: 4px;
}

.msp-title{
    margin-bottom: 6px;
    /* color: #3B82F6; */
}

.ms-project-name{
    margin-bottom: 4px;
}