﻿/*
 *  Document   : _general.scss
 *  Author     : RedStar Template
 *  Description: This scss file for all common style classes
 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@font-face {
  font-family: 'San Francisco';
  font-style: normal;
  font-weight: 400;
  src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff');
  /* IE9 Compat Modes */
  // src: local('Poppins Regular'), local('Poppins-Regular'),
  //   url('../../../assets/fonts/poppins/poppins-v5-latin-regular.eot?#iefix')
  //     format('embedded-opentype'),
  //   /* IE6-IE8 */
  //     url('../../../assets/fonts/poppins/poppins-v5-latin-regular.woff2')
  //     format('woff2'),
  //   /* Super Modern Browsers */
  //     url('../../../assets/fonts/poppins/poppins-v5-latin-regular.woff')
  //     format('woff'),
  //   /* Modern Browsers */
  //     url('../../../assets/fonts/poppins/poppins-v5-latin-regular.ttf')
  //     format('truetype'),
  //   /* Safari, Android, iOS */
  //     url('../../../assets/fonts/poppins/poppins-v5-latin-regular.svg#Poppins')
  //     format('svg');
  /* Legacy iOS */
}

.highlight{
  font-weight: 700;
  color: #252733;
}

body,
html {
  background-color: #f1f2f7;
  @include transition(all 0.5s);
  font-family: 'San Francisco', sans-serif;
  font-size: 13px;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

ul li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

button,
input,
select,
a {
  outline: none !important;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
}

.row {
  margin-bottom: 0px !important;
}

ol,
ul,
dl {
  padding-left: 0px;
  list-style-type: none;
}

.no-animate {
  -o-transition-property: none !important;
  -moz-transition-property: none !important;
  -ms-transition-property: none !important;
  -webkit-transition-property: none !important;
  transition-property: none !important;
  -o-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
}

section {
  &.content {
    margin: 56px 18px 0 280px;
    min-height: calc(100vh - 76px);
    @include transition(0.5s);
  }
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.msl-1 {
  margin-left: 0.25rem !important;
}
.msl-2 {
  margin-left: 0.5rem !important;
}
.msl-3 {
  margin-left: 1rem !important;
}
.msl-4 {
  margin-left: 1.5rem !important;
}
.msl-5 {
  margin-left: 3rem !important;
}

.msr-1 {
  margin-right: 0.25rem !important;
}
.msr-2 {
  margin-right: 0.5rem !important;
}
.msr-3 {
  margin-right: 1rem !important;
}
.msr-4 {
  margin-right: 1.5rem !important;
}
.msr-5 {
  margin-right: 3rem !important;
}

.psl-1 {
  padding-left: 0.25rem !important;
}
.psl-2 {
  padding-left: 0.5rem !important;
}
.psl-3 {
  padding-left: 1rem !important;
}
.psl-4 {
  padding-left: 1.5rem !important;
}
.psl-5 {
  padding-left: 3rem !important;
}

.psr-1 {
  padding-right: 0.25rem !important;
}
.psr-2 {
  padding-right: 0.5rem !important;
}
.psr-3 {
  padding-right: 1rem !important;
}
.psr-4 {
  padding-right: 1.5rem !important;
}
.psr-5 {
  padding-right: 3rem !important;
}

.jqvmap-zoomin,
.jqvmap-zoomout {
  width: 15px;
  height: 15px;
}

table {
  .checkbox {
    [type='checkbox'] + label {
      margin: 0;
      height: 20px;
      padding-left: 20px;
      vertical-align: middle;
    }
  }
}

.loading-img-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin: -60px 0 20px -20px;
  -webkit-animation: spin 1.5s linear infinite;
  -moz-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

.shadow-style {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.review-img {
  padding-left: 20px;
  padding-top: 5px;
  width: 70px;

  img {
    border-radius: 50%;
    border: 2px solid #ffffff;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  }
}

.horizontal-layout {
  section {
    &.content {
      margin: 170px 15px 0 15px;
      float: left;
      width: calc(100% - 30px);
    }
  }
  .sidebar,
  .nav-left-menu {
    display: none;
  }
}

.bootstrap-notify-container {
  max-width: 320px;
  text-align: center;
}

.map iframe {
  width: 100%;
}

.jqvmap-label {
  position: absolute;
  display: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: #eee;
  color: black;
  font-size: 14px;
  font-family: sans-serif, Verdana;
  padding: 10px;
  pointer-events: none;
}

.logo-white {
  .navbar-toggle,
  .bars:before,
  .bars:after {
    color: #000 !important;
  }
}

.logo-black {
  .navbar-toggle,
  .bars:before,
  .bars:after {
    color: #fff !important;
  }
}

.dark {
  .sidemenu-collapse i {
    color: #fff;
  }

  .nav {
    > li {
      > a {
        color: #fff;
      }
    }
  }
}

.light {
  .sidemenu-collapse i {
    color: #0d091d;
  }

  .nav {
    > li {
      > a {
        color: #0d091d;
      }
    }
  }
}

.border-apply {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2) !important;
}

$max-width:1169px;

@media screen and ( max-width: $max-width ) {
  .horizontal-layout {
    .sidebar {
      display: block;
    }

    .top-sidebar {
      display: none;
    }

    section.content {
      margin-top: 100px;
    }
  }
}

.font-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  transition: all 0.2s;

  .icon-preview {
    font-size: 1.8rem;
    margin-right: 10px;
    line-height: 1;
    color: #333439;
  }
}

.echart-height {
  height: 250px;
}

$min-width: 1400px;

@media screen and ( min-width: $min-width ) {
  .boxed-layout .container {
    width: 1370px;
    max-width: 100%;
  }
}


.amber-50{
  background-color: #fffbeb;
}

.amber-100{
  background-color: #fef3c7;
}

.amber-200{
  background-color: #fde68a;
}

.amber-300{
  background-color: #fcd34d;
}

.amber-400{
  background-color: #fbbf24;
}

.amber-500{
  background-color: #f59e0b;
}

.amber-600{
  background-color: #d97706;
}

.amber-700{
  background-color: #b45309;
}

.amber-800{
  background-color: #92400e;
}

.amber-900{
  background-color: #78350f;
}

.red-50{
  background-color: #fef2f2;
}

.red-100{
  background-color: #fee2e2;
}

.red-200{
  background-color: #fecaca;
}

.red-300{
  background-color: #fca5a5;
}

.red-400{
  background-color: #f87171;
}

.red-500{
  background-color: #ef4444;
}

.red-600{
  background-color: #dc2626;
}

.red-700{
  background-color: #b91c1c;
}

.red-800{
  background-color: #991b1b;
}

.red-900{
  background-color: #7f1d1d;
}

.green-50{
  background-color: #f0fdf4;
}

.green-100{
  background-color: #dcfce7;
}

.green-200{
  background-color: #bbf7d0;
}

.green-300{
  background-color: #86efac;
}

.green-400{
  background-color: #4ade80;
}

.green-500{
  background-color: #22c55e;
}

.green-600{
  background-color: #16a34a;
}

.green-700{
  background-color: #15803d;
}

.green-800{
  background-color: #166534;
}

.green-900{
  background-color: #14532d;
}

.fw-300{
  font-weight: 300;
}

.fw-400{
  font-weight: 400;
}

.fw-500{
  font-weight: 500;
}

.fw-600{
  font-weight: 600;
}

.fw-700{
  font-weight: 700;
}

.text-slate-900{
  color: var(--text-slate-900)!important;
}

.text-slate-800{
  color: #1e293b!important;
}

.text-slate-700{
  color: #334155!important;
}

.text-slate-600{
  color: #475569!important;
}

.text-slate-500{
  color: #64748b!important;
}

.text-slate-400{
  color: #94a3b8!important;
}

.text-slate-300{
  color: #cbd5e1!important;
}

.text-slate-100{
  color: #fff!important;
}

.slate-900{
  background-color: #0f172a;
}

.slate-800{
  background-color: #1e293b;
}

.slate-700{
  background-color: #334155;
}

.slate-600{
  background-color: #475569;
}

.slate-500{
  background-color: #64748b;
}

.slate-400{
  background-color: #94a3b8;
}

.slate-300{
  background-color: #cbd5e1;
}

.slate-200{
  background-color: #e2e8f0;
}

.gray-900{
  background-color: #111827;
}

.gray-800{
  background-color: #1f2937;
}

.gray-700{
  background-color: #374151;
}

.gray-600{
  background-color: #4b5563;
}

.gray-500{
  background-color: #6b7280;
}

.gray-400{
  background-color: #9ca3af;
}

.gray-300{
  background-color: #d1d5db;
}

.gray-200{
  background-color: #e5e7eb;
}
