
::ng-deep.mat-dialog-container {
    padding: 0px;
    border-radius: 16px;
}
.tab-header{
    height: 3.75rem;
    width: 100%;
    position: absolute;
    top: 0;

    background-color: transparent;
    color: #94a3b8;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    .title{
        width: 50%;
        padding-left: .7rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        font-size: 18px;

        .icon,
        .text{
            display: flex;
            align-items: center;
            justify-content: center;
            pointer-events: none;
        }

        .text{
            margin-left: 1.25rem;
            // font-weight: 500;
        }
    }

    .close{
        width: 50%;
        padding-right: .7rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;
    }
}

.tab-content{
    display: flex;
    justify-content: center;
    height: calc(100% - 10.12rem);
    width: 100%;
    margin: 4rem 0 0 0;
    padding: 0 1.25rem;
    overflow: auto;

   .modal-context{
        display: flex;
        width: 100%;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;

       .icon{
            height: 50px;
            width: 50px;
            border-radius: 44px;
            background-color: #FEE2E2;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: default;

            span{
                font-size: 30px;
                color: #dc2626;
            }
       }

       .text-context{
           text-align: center;
            width: 80%;

            .header{
                margin-top: 14px;
            }

            .text{
                margin-top: 8px;
                overflow-wrap: break-word;
                width: 100%;
            }
       }
   }

    ::ng-deep .mat-flat-button{
        font-size: 13px;
        height: 2.85rem;
        // width: 7rem;
        margin: .7rem;
        border-radius: 45px;
        background-color: #2B9AFF;
        color: #fff;
    }
}

.tab-footer{
    position: relative;
    height: 3rem;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;

    ::ng-deep .mat-flat-button,
    ::ng-deep .mat-button{
        height: 2.85rem;
        width: 90%;
        margin: auto;
        margin-top: 10px;
    }

    ::ng-deep .mat-flat-button{
        border-radius: 19px;
        color: #fff;
        background-color: #4F46E5;
    }
}

