<div class="tab-header">
  <div class="title"></div>
  <div (click)="close()" class="close">
    <span class="material-icons-outlined"> cancel </span>
  </div>
</div>
<div class="tab-content">
  <div class="modal-context">
    <div class="icon">
      <span class="material-icons-round">close</span>
    </div>
    <div class="text-context">
      <div class="header font-18 fw-500 text-slate-900">{{ title }}</div>
      <div class="text font-14 text-slate-500">{{ message }}</div>
    </div>
  </div>
</div>

<div class="tab-footer">
  <button mat-flat-button (click)="close()">
    {{ buttonText }}
  </button>
</div>
