<div class="container-fluid p-0">
  <div class="row g-0">
    <div class="col-lg-4">
      <div class="auth-content p-4 d-flex align-items-center min-vh-100">
        <div class="w-100">
          <div class="row justify-content-center">
            <div class="col-lg-9">
              <div>
                <div class="text-center">
                  <div>
                    <a routerLink="" class="logo-full"><img src="assets/images/logo-full.png" alt="logo-full" /></a>
                  </div>

                  <h4 class="font-20 mt-4">Şifrenizi mi unuttunuz ?</h4>
                  <p class="text-muted">Email adresinizi girin ve size şifre sıfırlama bağlantısı gönderelim.</p>
                </div>

                <div class="p-2 mt-5">
                  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group auth-form-group mb-4">
                      <mat-icon matSuffix class="auth-page-icon">email</mat-icon>
                      <input
                        type="email"
                        formControlName="email"
                        class="form-control auth-control"
                        id="email"
                        placeholder="Email"
                        [ngClass]="{ 'is-invalid': submitted && controls.email.errors }" />
                      <div *ngIf="submitted && controls.email.errors" class="invalid-feedback">
                        <div *ngIf="controls.email.errors.required">Lütfen Email adresinizi giriniz</div>
                        <div *ngIf="controls.email.errors.email">Lütfen geçerli bir email adresi giriniz</div>
                      </div>
                    </div>

                    <div class="container-login100-form-btn">
                      <button mat-flat-button class="login100-form-btn" type="submit">Şifremi Sıfırla</button>
                    </div>
                  </form>
                </div>

                <div class="mt-5 text-center">
                  <p>
                    Giriş yapmak mı istiyorsunuz ?
                    <a routerLink="/authentication/signin" class="font-weight-medium text-primary"> Giriş Yap </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="auth-bg">
        <div class="bg-overlay"></div>
      </div>
    </div>
  </div>
</div>
