<div class="tab-header">
  <div class="title">
    <div class="icon">
      <span class="material-icons-outlined"> add </span>
    </div>
    <div class="text">{{ answerType }}</div>
  </div>
  <div (click)="close()" class="close">
    <span class="material-icons-outlined"> close </span>
  </div>
</div>
<div class="tab-content">
  <div class="info">
    <mat-icon class="info-icon">info</mat-icon>
    <div class="info-text">Bu bot mesajından sonra kullanıcıdan {{ answerType }} türünde bir mesaj beklenecek</div>
    <br />
  </div>
  <form [formGroup]="messageForm">
    <mat-form-field appearance="outline" style="width: 100%; margin-top: 0.5rem">
      <mat-label>İsim</mat-label>
      <input matInput type="text" formControlName="name" />
      <mat-error *ngFor="let error of errorMessages.name">
        <mat-error
          *ngIf="
            messageForm.get('name').hasError(error.type) &&
            (messageForm.get('name').dirty || messageForm.get('name').touched)
          ">
          <small class="error-message">{{ error.message }}</small>
        </mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%; margin-top: 0.5rem">
      <mat-label>Mesaj</mat-label>
      <textarea matInput type="text" formControlName="message"></textarea>
      <mat-error *ngFor="let error of errorMessages.message">
        <mat-error
          *ngIf="
            messageForm.get('message').hasError(error.type) &&
            (messageForm.get('message').dirty || messageForm.get('message').touched)
          ">
          <small class="error-message">{{ error.message }}</small>
        </mat-error>
      </mat-error>
    </mat-form-field>
  </form>
</div>

<div class="tab-footer">
  <button mat-button color="warn" (click)="close()">İptal</button>
  <button mat-flat-button (click)="save()" [disabled]="!messageForm.valid">Onayla</button>
</div>
