<div class="tab-header">
  <div class="title"></div>
  <div (click)="close()" class="close">
    <span class="material-icons-outlined"> cancel </span>
  </div>
</div>
<div class="tab-content">
  <div class="modal-context">
    <div class="icon">
      <span class="material-icons-round">
        {{ data.icon }}
      </span>
    </div>
    <div class="text-context">
      <div class="header font-18 fw-500 text-slate-900">
        <!-- {{ 'INSTRUCTIONS.DELETE_FILE' | translate }} -->
        {{ data.title }}
      </div>
      <div class="text font-14 text-slate-500">
        <!-- {{filename}} dosyasını silmek istediğinize emin misiniz? -->
        {{ data.message }}
      </div>
    </div>
  </div>
</div>

<div class="tab-footer">
  <button mat-button *ngIf="data.cancelButton" (click)="close()">
    <!-- {{ 'GENERAL.CANCEL' | translate }} -->
    {{ data.cancelButtonText }}
  </button>
  <button mat-flat-button *ngIf="data.okButton" (click)="save()">
    <!-- {{ 'INSTRUCTIONS.YES_DELETE' | translate }} -->
    {{ data.okButtonText }}
  </button>
</div>
