.tab-header{
    height: 3.75rem;
    width: 100%;
    position: absolute;
    top: 0;

    background-color: transparent;
    color: #94a3b8;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    .title{
        width: 50%;
        padding-left: .7rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        font-size: 18px;

        .icon,
        .text{
            display: flex;
            align-items: center;
            justify-content: center;
            pointer-events: none;
        }

        .text{
            margin-left: 1.25rem;
            // font-weight: 500;
        }
    }

    .close{
        width: 50%;
        padding-right: .7rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;
    }
}

.tab-content{
    display: flex;
    justify-content: center;
    height: calc(100% - 10.12rem);
    margin: 4rem 0 0 0;
    padding: 0 1.25rem;
    overflow: auto;

   .modal-context{
       display: flex;
       width: 100%;
       justify-content: space-evenly;

       .icon{
            height: 44px;
            width: 44px;
            border-radius: 44px;
            background-color: #FEE2E2;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: default;

            span{
                font-size: 30px;
                color: #dc2626;
                margin-bottom: 3px;
            }
       }

       .text-context{
            width: 80%;

            .header{
                margin-top: 4px;
            }

            .text{
                margin-top: 8px;
                overflow-wrap: break-word;
                width: 100%;
            }
       }
   }

    ::ng-deep .mat-flat-button{
        font-size: 13px;
        height: 2.85rem;
        // width: 7rem;
        margin: .7rem;
        border-radius: 45px;
        background-color: #2B9AFF;
        color: #fff;
    }
}

.tab-footer{
    position: absolute;
    height: 5rem;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // background-color: #F9FAFB;
    background-color: var(--bg-slate-600);

    ::ng-deep .mat-flat-button,
    ::ng-deep .mat-button{
        height: 2.85rem;
        width: 8.75rem;
        margin: auto 2rem auto 0;
    }

    ::ng-deep .mat-flat-button{
        color: #64748b;
        background-color: #ef4444;
    }
}