<div class="datagrid">
  <div class="datagrid__container">
    <table aria-describedby="loading">
      <caption>
        loading
      </caption>
      <th></th>
      <tr class="datagrid__row blend vertical-animation horizontal-animation">
        <td>
          <span><div class="datagrid__loader" style="width: 78%"></div></span>
        </td>
        <td>
          <span><div class="datagrid__loader" style="width: 90%"></div></span>
        </td>
        <td>
          <span><div class="datagrid__loader" style="width: 58%"></div></span>
        </td>
      </tr>
      <tr class="datagrid__row blend vertical-animation horizontal-animation">
        <td>
          <span><div class="datagrid__loader" style="width: 100%"></div></span>
        </td>
        <td>
          <span><div class="datagrid__loader" style="width: 60%"></div></span>
        </td>
        <td>
          <span><div class="datagrid__loader" style="width: 80%"></div></span>
        </td>
      </tr>
      <tr class="datagrid__row blend vertical-animation horizontal-animation">
        <td>
          <span><div class="datagrid__loader" style="width: 30%"></div></span>
        </td>
        <td>
          <span><div class="datagrid__loader" style="width: 30%"></div></span>
        </td>
        <td>
          <span><div class="datagrid__loader" style="width: 75%"></div></span>
        </td>
      </tr>
    </table>
  </div>
</div>
