.datagrid{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex: auto;
    width: 100%;
    overflow-x: auto;
    margin-top: 14px;
    padding: 0 8px;
}

.datagrid__container{
    display: inline-flex;
    position: relative;
    -webkit-box-flex: 1;
    flex: auto;
    padding: 4px 4px 32px;

    table{
        -webkit-box-flex: 1;
        flex: auto;
        z-index: 1;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }

    tbody{
        display: block;
        position: relative;
        font-weight: 600;
    }

    tr{
        display: grid;
        position: relative;
        -webkit-box-align: center;
        align-items: center;
        margin-bottom: 1rem;
        box-shadow: 0 0 6.4px 4px rgb(0 0 0 / 6%);
        border-radius: 4px;
        background-color: #fff;
        grid-template-columns: 200px 200px minmax(200px,auto);
    }

    td{
        padding: 8px 16px;
        vertical-align: middle;
        white-space: nowrap;
    }
}

.datagrid__loader {
    border-radius: 8px;
    background: #d9d9d9;
    height: 12px;
}

  
  .datagrid__row {
      height: 48px;
    animation: aniVertical 3s ease;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    opacity: 0;
    position: relative;
  }
  
  .datagrid__row:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    animation-name: aniHorizontal;
    animation-duration: 3.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(
      to right,
      #cccccc 2%,
      #666666 18%,
      #cccccc 33%
    );
    background-size: 50%;
    mix-blend-mode: overlay;
  }