<div class="container-fluid p-0">
  <div class="row g-0">
    <div class="col-lg-4">
      <div class="auth-content p-4 d-flex align-items-center min-vh-100">
        <div class="w-100">
          <div class="row justify-content-center">
            <div class="col-lg-9">
              <div>
                <div class="text-center">
                  <div>
                    <a routerLink="" class="logo-full"><img src="assets/images/logo.png" alt="logo-full" /></a>
                  </div>

                  <h4 class="font-20 mt-4">Hoşgeldiniz !</h4>
                  <p class="text-muted">Target'a devam etmek için giriş yapın.</p>
                </div>

                <div class="p-2 mt-5">
                  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div *ngIf="error" class="alert alert-danger mb-3 mt-0">{{ error }}</div>
                    <div class="form-group auth-form-group mb-4">
                      <mat-icon matSuffix class="auth-page-icon">person</mat-icon>
                      <input
                        type="text"
                        formControlName="username"
                        class="form-control auth-control"
                        id="email"
                        placeholder="Kullanıcı Adı"
                        [ngClass]="{ 'is-invalid': submitted && controls.username.errors }" />
                      <div *ngIf="submitted && controls.username.errors" class="invalid-feedback">
                        <div *ngIf="controls.username.errors.required">Kullanıcı adı girmeniz gerekiyor</div>
                      </div>
                    </div>

                    <div class="form-group auth-form-group mb-4">
                      <mat-icon matSuffix class="auth-page-icon">vpn_key</mat-icon>
                      <input
                        type="password"
                        formControlName="password"
                        class="form-control auth-control"
                        id="password"
                        [ngClass]="{ 'is-invalid': submitted && controls.password.errors }"
                        placeholder="Şifre" />
                      <div *ngIf="submitted && controls.password.errors" class="invalid-feedback">
                        <div *ngIf="controls.password.errors.required">Şifre girmeniz gerekiyor</div>
                      </div>
                    </div>

                    <div class="flex-sb-m w-full p-t-15 p-b-20">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="" /> Beni Hatırla
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>
                      <div>
                        <a class="txt1" routerLink="/authentication/forgot-password">Şifrenizi mi unuttunuz ?</a>
                      </div>
                    </div>

                    <div class="container-login100-form-btn">
                      <button mat-flat-button class="login100-form-btn" type="submit">Giriş</button>
                    </div>
                  </form>
                </div>
                <div class="mt-5 text-center">
                  <p>
                    Hesabınız yok mu ?
                    <a routerLink="/authentication/signup" class="font-weight-medium text-primary"> Kayıt Ol </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="auth-bg">
        <div class="bg-overlay"></div>
      </div>
    </div>
  </div>
</div>
